package components

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>GO CRUD</title>
			<script src="https://unpkg.com/htmx.org@2.0.3"></script>
			<link href="../css/output.css" rel="stylesheet"/>
		</head>
		<body>
			<div>
				{ children... }
			</div>
			<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
		</body>
	</html>
}
